body{
    background-color:lemonchiffon;
    color: navy;
    font-family:'Courier New', Courier, monospace;
    margin:0;
}

#container{
    width:750px;
    margin:auto;
    background-color: bisque;
    padding: 40px;
    border-left: 5px double lightblue;
    border-right: 5px double lightblue;
}

header{
    text-align: center;
    font-weight:bold;
}

h1{
    padding: 20px;
    border: 4px solid lightblue;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
}

h2{
    font-style: italic;
}

h3{
    border-left: 20px double slateblue;
    padding-left:20px;
    border-radius: 20px;
    border-bottom: 2px solid slateblue;
}

p{
    line-height: 2.5em;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 75px;
    border: 4px dotted lightblue;
    border-radius: 10px;
    background-color: antiquewhite;
}

img{
    width: auto;
    height: auto;
    float: left;
    border: 2px solid lightblue;
    border-radius: 30px;
}

#img2{
    float:right;
}

#p2{
    text-align: right;
}

a:link{
    color: slateblue;
    text-decoration: none;
    font-weight: bold;
}

a-visited{
    color:blueviolet;
}

a:hover{
    color:darkslateblue;
    text-decoration: underline;
}

a:active{
    color:floralwhite
}

.highlight{

}